
# Java
target/
*.class
*.jar
*.war
*.ear

# Maven
logs/
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.swp
.swo
.bak
.tmp
.log
.vscode/

# OS
.DS_Store
Thumbs.db

# Node/React
frontend/node_modules/
frontend/dist/

# Python
*.pyc
__pycache__/

# Misc
.env
*.sqlite
*.db
*.log

# VSCode
.vscode/

# Others
bulk_insert_books.py
